@import "tailwindcss";

@theme {
  --color-exabeam-green: #86b059;
  --color-incident-med: #94a3b8;
  --color-incident-high: #f59e0b;
}

:root {
  background-color: #f4f7f6;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}